* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: right;
  direction: rtl;
  font-family: Arial;
  /* border: 3px solid black; */
}

/* body {
  border: 3px solid grey;
} */

.conteiner {
  /* width: 900px; */
  /* border: 3px solid yellow; */
  width: 100%;
}


.paz-header-content , .paz-footer-content{
  /* border: 3px solid rgb(221, 134, 20); */
  width: 900px;
  margin: auto;
  background: linear-gradient(#4F4B4B, #E2DCDC);
}
.paz-header-content, .paz-header{
  height: 50px;
  margin: auto;

 }
.paz-footer-content, .paz_footer{
  margin: auto;
  height: 30px;
 }
.paz-header-content>img {
  float: right;
  margin-top: 10px;
  height: 50px;
}

.header-lang {
  float: left;
  font-size: 10px;
}

.paz-nav>a>img {
  float: right;
  margin-left: 5px;
}

.paz-nav-ul>.paz-nav-li{
  padding-right: 35px;
}
.paz-nav-li,
.paz-nav-sub-li, .paz-footer-li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.paz-nav-li, .paz-footer-li{
  display: inline;
  position: relative;
}

.paz-nav-li:hover > .paz-nav-sub {
  display: block;
}

.paz-nav-sub {
  position: absolute;
  right: 0;
  top: 100%;
  padding: 0;
  width: 200%;
  display: none;
  background-color: rgb(192, 189, 189);
  margin-top: 10px;
}
.paz-footer-li>a,
.paz-nav-li>a,
.header-lang>a,
.paz-nav-sub-li>a {
  text-decoration: none;
  color: white;
  padding: 3px;
}

/* .paz-nav-ul{
  text-align:center;
  } */

.paz-nav-li>a:hover,
.header-lang>a:hover,
.paz-nav-sub-li>a:hover {
  color: rgb(16, 50, 247);
  text-decoration: underline;
  background-color: rgb(121, 118, 118);
}

.paz-main {
  /* border: 3px solid rgb(34, 34, 223); */
  width: 900px;
  margin: auto;
}

.row {
  /* border: 3px solid red; */
  width: 900px;
  margin: auto;
}
/* .row2 {
 margin: auto;
} */

.col {
  /* border: 3px solid pink; */
  float: left;
  /* width: 290px; */
  /* margin-top: 5px; */
  /* margin-bottom: 5px; */
  padding: 5px;
  margin: auto;
}



ul4 {
  float: right;
  /* border: 3px solid pink; */
}

.col1,
.col2 {
  padding: 3px;
  margin: auto;
  /* border: 3px solid pink; */
}

.col1>img {
  border-radius: 0 0 25px 0;
  width: 292px;
  height: 355px;
}

.col2>img {
  border-radius: 0 25px 0 0;
  width: 292px;
  height: 216;
}

/* .col2 {
  width: 292px;
  height: 216px;

} */

.clearfix {
  clear: both;
  display: table;
  content: "";
}

.container1 {
  position: relative;

}

.img1,
.text-block1 {
  border-radius: 0 0 25px 0;
}

.text-block1 {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(73, 71, 71, 0.651);
  color: white;
  padding: 10px;
  width: 250px;
  height: 77px;
  font-size: 10px;
  margin-top: 4px;
}

.text-block1>h4 {
  padding: 4px;
}

.a1 {
  float: left;
  color: white;
}


.container4 {
  position:relative;
  
}
/* .div4 {
  position: absolute;

} */
.img4 {
  position: absolute;
  right: 5px;
  top: 40px;
}

.txt4 {
  position: absolute;
  right: 5px;
  top: 10px;

}
.a4 {
  position: absolute;

 
  color:#575757;
  left: 5px;
  top: 160px;
}

.img444 {
  position: absolute;
  left: 5px;
  top: 35px;
}
.div4{
  float: left;
  position: absolute;
  right: 15px;
  top: 35px;

   /* border: 3px solid pink; */
 } 
.ul4{
  list-style-type: none;
  text-align:center;
}

footer{
  /* border: 3px solid red; */
  margin: auto;
}